<button
    type="button"
    class="dropdown-item ai-action"
    data-action="classify"
    data-bs-placement="right"
    aria-controls="ai-drawer"
    data-input-type="action"
    data-bs-delay="200"
    title="{{#str}}classify_tooltips,aiplacement_classifyassist{{/str}}"
    data-bs-toggle="tooltip"
>
    {{#str}}classifybutton,aiplacement_classifyassist{{/str}}
</button>