<div class="ai-drawer" id="ai-classify-drawer" tabindex="-1">
    <div class="ai-drawer-header">
        <button id="ai-classify-drawer-close" class="btn ai-drawer-button" type="button">
            {{#pix}} e/cancel, core {{/pix}}
            <span class="visually-hidden">{{#str}} closedrawer, core {{/str}}</span>
        </button>
    </div>

    <div class="ai-drawer-body" data-cancelled="0"></div>
</div>

{{#js}}
    require(['aiplacement_competency/placement'], function(Cls) {
        new Cls({{userid}}, {{contextid}});
    });
{{/js}}
